{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "browser": true
  },
  "ignorePatterns": [
    "dist/",
    "node_modules",
    "tests/"
  ],
  "settings": {
    "react": {
      "version": "123456789"
    }
  }
}
