// -----------------------------------------------------------------------------
// List unstyled
// -----------------------------------------------------------------------------

@mixin list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

// -----------------------------------------------------------------------------
// Visuallyhidden
// -----------------------------------------------------------------------------

// Makes an element visually hidden,
// but still accessible to keyboards and assistive devices.
// Hiding Content for Accessibility:
// @link https://html5boilerplate.com/
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Reverses the CSS output created by the `visually-hidden()` mixin.
@mixin element-visible {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}
