.rw-input-submit {
  position: relative;
  width: 66%;

  &__input {
    background-image: none;
  }

  &__button {
    bottom: 0;
    height: auto;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
  }
}
